In [2]:
import pandas as pd
import numpy as np

## Importing a csv file

In [15]:
court_data = pd.read_csv("court_data.csv")
court_data

C:\Users\ADMIN\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6,14,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,court,date_dd,date_mon,date_yyyy,caseid_type,caseid_no,filed_dd,filed_mon,filed_yyyy,case_type,...,firstparty_f,firstparty_org,secondparty_m,secondparty_f,secondparty_o,legalrep,p_witness,d_witness,custody,other_details
0,363052 High Court,23.0,May,2023.0,HCCRC,1,9,JAN,2019.0,MURDER CASE,...,NaN,1.0,1.0,NaN,NaN,YES,NaN,NaN,0.0,NaN
1,363052 High Court,19.0,Sep,2022.0,HCFP&A,171,4,MAR,2015.0,PROBATE ADMINISTRATION,...,NaN,NaN,NaN,NaN,NaN,YES,NaN,NaN,0.0,NaN
2,363052 High Court,21.0,Jun,2023.0,HCCCMISC,E021,17,APR,2023.0,CIVIL CASE MISCELLANEOUS,...,NaN,1.0,NaN,2.0,NaN,YES,NaN,NaN,0.0,NaN
3,363052 High Court,21.0,Sep,2022.0,HCCRMISCAPPL,E045,10,JUN,2021.0,CRIMINAL MISCELLANEOUS,...,NaN,NaN,NaN,NaN,1.0,YES,NaN,NaN,0.0,NaN
4,363052 High Court,6.0,Mar,2023.0,HCCRA,E025,19,AUG,2021.0,CRIMINAL APPEAL,...,NaN,NaN,NaN,NaN,1.0,YES,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357224,63035 High Court,29.0,Jun,2023.0,HCCRA,E069,17,DEC,2021.0,CRIMINAL APPEAL,...,NaN,NaN,NaN,NaN,1.0,NO,NaN,NaN,1.0,NaN
357225,63035 High Court,5.0,Jun,2023.0,HCCRA,E009,22,FEB,2023.0,CRIMINAL APPEAL,...,NaN,NaN,NaN,NaN,1.0,NO,NaN,NaN,1.0,NaN
357226,63035 High Court,27.0,Jun,2023.0,HCCRA,E022,27,JUN,2023.0,CRIMINAL APPEAL,...,1.0,NaN,NaN,NaN,1.0,YES,NaN,NaN,NaN,"Case Registered and Paid via E-Payment,Outcome..."
357227,63035 High Court,16.0,Feb,2023.0,HCCCMISC,E023,2,SEP,2022.0,CIVIL CASE MISCELLANEOUS,...,NaN,1.0,NaN,NaN,1.0,YES,NaN,NaN,0.0,NaN
357228,63035 High Court,21.0,Dec,2022.0,HCCRREV,E443,15,DEC,2022.0,CRIMINAL REVISION,...,NaN,NaN,NaN,NaN,1.0,NO,NaN,NaN,1.0,NaN

### Importing an excel file

In [10]:
sample_data = pd.read_excel('Sample Data.xlsx')
sample_data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,Court station name: \n(Entry required.),NaN,NaN,A. N. Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
2,NaN,\nToday's date\n\n\n\n\n\n,NaN,NaN,\nCase Number and date of Registration)\n\n,NaN,NaN,NaN,NaN,\n*Appeal cases only: ...,...,NaN,NaN,\nNo. of defendants/accused\n\n\n\n\n,NaN,NaN,\nDo any of the parties have legal representat...,\nNo. of witnesses testified in court today\n\n\n,NaN,"\nCriminal cases only: \nOf the accused, how m...",\nOther important details of the case
3,NaN,Day,Month,Year,Code,No.,Day,Month,Year,Name of Court,...,F,Org.,M,F,Org.,(Y/N),P \n(Enter No.),D\n(Enter No.),(Enter No.),(Free text)
4,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,NaN,28,Apr,2023,QRSUCCMISC,E085,19,Apr,2023,NaN,...,NaN,NaN,1,NaN,NaN,Yes,NaN,NaN,0,NaN
2157,NaN,28,Apr,2023,QRSUCCMISC,E074,6,Apr,2023,NaN,...,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0,NaN
2158,NaN,28,Apr,2023,QRCC,E216,28,Apr,2023,NaN,...,NaN,NaN,2,1,NaN,Yes,NaN,NaN,0,Certificate of urgency activity auto-created
2159,NaN,28,Apr,2023,QRELCMISC,E009,27,Apr,2023,NaN,...,NaN,NaN,NaN,1,NaN,No,NaN,NaN,0,Certificate of urgency activity auto-created
2160,NaN,28,Apr,2023,QRCC,24,24,Jan,2020,NaN,...,NaN,NaN,1,NaN,NaN,Yes,NaN,NaN,0,Certificate of urgency activity auto-created

In [11]:
type(sample_data)

pandas.core.frame.DataFrame

## Preview the data - Understand what the data you are using before data analysis

**Functions:**
* Using `.head()`
* using `.tail()`
* using `.info()`

**Methods:**
* Using `.shape` rows and columns
* Using `.columns`
* Using `.dtypes` data types
*

In [12]:
# display first 5 rows
sample_data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,Court station name: \n(Entry required.),NaN,NaN,A. N. Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
2,NaN,\nToday's date\n\n\n\n\n\n,NaN,NaN,\nCase Number and date of Registration)\n\n,NaN,NaN,NaN,NaN,\n*Appeal cases only: ...,...,NaN,NaN,\nNo. of defendants/accused\n\n\n\n\n,NaN,NaN,\nDo any of the parties have legal representat...,\nNo. of witnesses testified in court today\n\n\n,NaN,"\nCriminal cases only: \nOf the accused, how m...",\nOther important details of the case
3,NaN,Day,Month,Year,Code,No.,Day,Month,Year,Name of Court,...,F,Org.,M,F,Org.,(Y/N),P \n(Enter No.),D\n(Enter No.),(Enter No.),(Free text)
4,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN

In [13]:
# display last 5 rows
sample_data.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
2156,NaN,28,Apr,2023,QRSUCCMISC,E085,19,Apr,2023,NaN,...,NaN,NaN,1,NaN,NaN,Yes,NaN,NaN,0,NaN
2157,NaN,28,Apr,2023,QRSUCCMISC,E074,6,Apr,2023,NaN,...,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0,NaN
2158,NaN,28,Apr,2023,QRCC,E216,28,Apr,2023,NaN,...,NaN,NaN,2,1,NaN,Yes,NaN,NaN,0,Certificate of urgency activity auto-created
2159,NaN,28,Apr,2023,QRELCMISC,E009,27,Apr,2023,NaN,...,NaN,NaN,NaN,1,NaN,No,NaN,NaN,0,Certificate of urgency activity auto-created
2160,NaN,28,Apr,2023,QRCC,24,24,Jan,2020,NaN,...,NaN,NaN,1,NaN,NaN,Yes,NaN,NaN,0,Certificate of urgency activity auto-created

In [16]:
# the shape
court_data.shape

(357229, 28)

In [22]:
# accessing only rows
court_data.shape[0]

357229

In [24]:
# accessing only columns
court_data.shape[1]

28

In [17]:
# improved version
print(f"The Data has: \n\t * {court_data.shape[0]} rows. \n\t * {court_data.shape[1]} columns.")

The Data has:
	 * 357229 rows.
	 * 28 columns.

In [18]:
# columns
court_data.columns

Index(['court', 'date_dd', 'date_mon', 'date_yyyy', 'caseid_type', 'caseid_no',
       'filed_dd', 'filed_mon', 'filed_yyyy', 'case_type', 'judge',
       'comingfor', 'outcome', 'reason_adj', 'next_dd', 'next_mon',
       'next_yyyy', 'fisrtparty_m', 'firstparty_f', 'firstparty_org',
       'secondparty_m', 'secondparty_f', 'secondparty_o', 'legalrep',
       'p_witness', 'd_witness', 'custody', 'other_details'],
      dtype='object')

In [19]:
# data types
court_data.dtypes

court              object
date_dd           float64
date_mon           object
date_yyyy         float64
caseid_type        object
caseid_no          object
filed_dd           object
filed_mon          object
filed_yyyy        float64
case_type          object
judge              object
comingfor          object
outcome            object
reason_adj         object
next_dd            object
next_mon           object
next_yyyy          object
fisrtparty_m       object
firstparty_f      float64
firstparty_org    float64
secondparty_m     float64
secondparty_f     float64
secondparty_o     float64
legalrep           object
p_witness         float64
d_witness         float64
custody           float64
other_details      object
dtype: object

In [20]:
# brief description of the data
court_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357229 entries, 0 to 357228
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   court           357229 non-null  object
 1   date_dd         357228 non-null  float64
 2   date_mon        357229 non-null  object
 3   date_yyyy       357228 non-null  float64
 4   caseid_type     357229 non-null  object
 5   caseid_no       357225 non-null  object
 6   filed_dd        356744 non-null  object
 7   filed_mon       356748 non-null  object
 8   filed_yyyy      357224 non-null  float64
 9   case_type       357228 non-null  object
 10  judge           355142 non-null  object
 11  comingfor       357229 non-null  object
 12  outcome         357229 non-null  object
 13  reason_adj      19303 non-null   object
 14  next_dd         264858 non-null  object
 15  next_mon        264858 non-null  object
 16  next_yyyy       264849 non-null  object
 17  fisrtparty_m    154212 non-null  object
 18  firstparty_f    54968 non-null   float64
 19  firstparty_org  114241 non-null  float64
 20  secondparty_m   130603 non-null  float64
 21  secondparty_f   51315 non-null   float64
 22  secondparty_o   147066 non-null  float64
 23  legalrep        352715 non-null  object
 24  p_witness       16668 non-null   float64
 25  d_witness       14355 non-null   float64
 26  custody         292139 non-null  float64
 27  other_details   51857 non-null   object
dtypes: float64(11), object(17)
memory usage: 76.3+ MB

## Data Cleaning

* Inconsistencies
* Missing Values
* Duplicated Entries
* Outliers