## Types of Variables

Global variable ~ decleared outside the function
Local variable ~ decleared inside the function (in the function block code)

In [2]:
# get student name
def get_student_name():
    student_name = input("Enter student name e.g. John Doe: \n")
    return student_name
get_student_name()

Enter student name e.g. John Doe:
 Abtiano John

'Abtiano John'

In [8]:
def get_scores():
    """Get student scores"""
    student_scores = []
    subjects = ["English", "Kiswahili", "Maths", "Science","GHCRE"]
    
    for subject in subjects:
        score = int(input(f"{subject} score: \n"))
        student_scores.append(score)
            
    return student_scores

get_scores()

English score:
 90
Kiswahili score:
 89
Maths score:
 78
Science score:
 83
GHCRE score:
 69

[90, 89, 78, 83, 69]

In [10]:
def student_performance():
    """
    Fetch student name
    Get student scores
    Grade student scores
    Sum the students scores
    
    return:
        student name, student scores, student scores, Sum the students scores
    """
    student_name = get_student_name()
    student_scores = get_scores() #function call inside another function.
    student_grades = []
    # loop through the grades
    for score in student_scores:
        if (score >= 90) and (score <= 100):
            grade = "A"
            student_grades.append(grade)
        elif (score >= 80) and (score < 90):
            grade = "B"
            student_grades.append(grade)
        elif (score >= 70) and (score < 80):
            grade = "C"
            student_grades.append(grade)
        elif (score >= 60) and (score < 70):
            grade = "D"
            student_grades.append(grade)
        elif (score < 60) and (score >= 0):
            grade = "E"
            student_grades.append(grade)
        else:
            grade = "Invalid grade"
            student_grades.append(None)
            
    total = sum(student_scores)
    
    return student_name, student_scores, student_grades, total

student_name, student_scores, student_grades, total = student_performance() 
print("Student name:", student_name)
print("Student scores:", student_scores)
print("Student grades:", student_grades)
print("Student total:", total)

Enter student name e.g. John Doe:
 Sasha Jones
English score:
 90
Kiswahili score:
 89
Maths score:
 78
Science score:
 83
GHCRE score:
 69

Student name: Sasha Jones
Student scores: [90, 89, 78, 83, 69]
Student grades: ['A', 'B', 'C', 'B', 'D']
Student total: 409

In [19]:
# For several student
number_of_students = 0
Class_Performance = {
    "Name": [],
    "English": [],
    "English_grade": [],
    "Kiswahili": [],
    "Kiswahili_grade": [],
    "Maths": [],
    "Maths_grade": [],
    "Science": [],
    "Science_grade": [],
    "GHCRE": [],
    "GHCRE_grade": [],
    "Total":[]
}

while (number_of_students < 3):
    individual_student = student_performance() # tuple
    individual_student = list(individual_student) # to list
    # creating key and asigning values to student list
    Class_Performance["Name"].append(individual_student[0])
    Class_Performance["English"].append(individual_student[1][0])
    Class_Performance["English_grade"].append(individual_student[2][0])
    Class_Performance["Kiswahili"].append(individual_student[1][1])
    Class_Performance["Kiswahili_grade"].append(individual_student[2][1])
    Class_Performance["Maths"] = individual_student[1][2]
    Class_Performance["Maths_grade"].append(individual_student[2][2])
    Class_Performance["Science"] = individual_student[1][3]
    Class_Performance["Science_grade"].append(individual_student[2][3])
    Class_Performance["GHCRE"] = individual_student[1][4]
    Class_Performance["GHCRE_grade"].append(individual_student[2][4])
    Class_Performance["Total"].append(individual_student[3])
    
    number_of_students += 1

Enter student name e.g. John Doe:
 Sasha Jones
English score:
 90
Kiswahili score:
 88
Maths score:
 78
Science score:
 83
GHCRE score:
 69
Enter student name e.g. John Doe:
 Sina Ban
English score:
 78
Kiswahili score:
 65
Maths score:
 89
Science score:
 93
GHCRE score:
 86
Enter student name e.g. John Doe:
 Ron Smiles
English score:
 98
Kiswahili score:
 65
Maths score:
 79
Science score:
 89
GHCRE score:
 84

In [20]:
print(Class_Performance)

{'Name': ['Sasha Jones', 'Sina Ban', 'Ron Smiles'], 'English': [90, 78, 98], 'English_grade': ['A', 'C', 'A'], 'Kiswahili': [88, 65, 65], 'Kiswahili_grade': ['B', 'D', 'D'], 'Maths': 79, 'Maths_grade': ['C', 'B', 'C'], 'Science': 89, 'Science_grade': ['B', 'A', 'B'], 'GHCRE': 84, 'GHCRE_grade': ['D', 'B', 'B'], 'Total': [408, 411, 415]}

In [21]:
import pandas as pd
df = pd.DataFrame(Class_Performance)
df

,Name,English,English_grade,Kiswahili,Kiswahili_grade,Maths,Maths_grade,Science,Science_grade,GHCRE,GHCRE_grade,Total
0,Sasha Jones,90,A,88,B,79,C,89,B,84,D,408
1,Sina Ban,78,C,65,D,79,B,89,A,84,B,411
2,Ron Smiles,98,A,65,D,79,C,89,B,84,B,415

In [8]:
"""
def get_grade():
    Get user input
    count = 5
    student_scores = []
    subjects = ["English", "Kiswahili", "Maths", "Science","GHCRE"]
    
    while (count <= 5):
        for subject in subjects:
            score = input(f"Enter {subject} score")
            student_scores.append(score)
            
    return student_scores
"""

'\ndef get_grade():\n    Get user input\n    count = 5\n    student_scores = []\n    subjects = ["English", "Kiswahili", "Maths", "Science","GHCRE"]\n    \n    while (count <= 5):\n        for subject in subjects:\n            score = input(f"Enter {subject} score")\n            student_scores.append(score)\n            \n    return student_scores\n'